* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Cambiado de height a min-height */
    padding: 20px;
    margin-top: 20px; /* Espacio superior fijo para el logo */
}

.header {
    text-align: center;
    margin-bottom: 0px;
}

.header img {
    width: 70%;
    max-width: 300px;
}

@media (max-width: 768px) {
    .header {
        margin-top: 20px; /* Ajustado para mantener consistencia en móviles */
    }
}

.container {
    background: #fff;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 5px;
    margin-top: 10px;
}

label {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 3px;
    display: block;
    color: #555;
    font-size: 14px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.iti {
    width: 100% !important; /* Forzar el ancho del campo WhatsApp */
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #25D366;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #1ebc57;
}